@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header {
    padding: 51px 0 55px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    &__list {
        display: flex;
    }
    &__list-item + .menu__list-item {
        padding-left: 35px;
    }
    &__list-link {
        color: #436372;
        @extend %rubik-500;
        font-size: 15px;
        line-height: 12px;
    }
}
.user-nav {
    display: flex;

    &__item {
        display: flex;
    }
    &__item-input {
        display: none;
    }
    &__item-input::placeholder {
        display: none;
    }
    &__item-input--active {
        display: block;
        background-color: #edf1f4;
        border: none;
        border-radius: 25px;
        width: 39%;       
    }
    &__item-input--active::placeholder {
        color: #436372;
        @extend %rubik-500;
        font-size: 15px;
        line-height: 12px;
        padding-left: 15px;
    }
    &__item-search {
        border: none;
        background-color: #edf1f4;
        padding: 17px;
        border-radius: 25px;
        cursor: pointer;
    }
    &__item-link {
        position: relative;
    }
    .link__favorits {
        background-color: #fcd7b6;
        margin-left: 24px;
        padding: 23px 32px 12px 40px;
        border-radius: 50px 0 0 50px;
    }

    .favorits__number {
        color: #243f4d;
        @extend %dmsans-400;
        font-size: 10px;
        line-height: 18px;
        text-align: center;
        position: absolute;
        top: 13px;
        left: 51px;
        background-color: #ffffff;
        border-radius: 50%;
        width: 16px;
        height: 16px;
    }
    .link__cart {
        background-color: #fcd7b6;
        padding: 22px 42px 15px 28px;
        border-radius: 0px 50px 50px 0px;
    }

    .link__cart::after {
        position: absolute;
        content: "";
        height: 32px;
        width: 1px;
        background-color: #fde7d3;
        top: 10px;
        right: 85px;
    }
    .cart__number {
        color: #243f4d;
        @extend %dmsans-400;
        font-size: 10px;
        line-height: 18px;
        text-align: center;
        position: absolute;
        top: 12px;
        right: 34px;
        background-color: #ffffff;
        border-radius: 50%;
        width: 16px;
        height: 16px;
    }
    &__item-btn {
        margin-left: 20px;
        border: none;
        background-color: #a3bbc8;
        padding: 15px;
        border-radius: 23px;
        cursor: pointer;
    }
}

.footer-top {
    padding: 82px 0 76px;
    border-bottom: 1px solid #dae4e9;
    display: flex;
    justify-content: space-between;

    &__address {
        display: block;
        max-width: 220px;
        @extend %rubik-400;
        font-size: 14px;
        line-height: 24px;
        color: #7b7b7b;
        margin-top: 25px;
    }
    &__address span {
        text-transform: uppercase;
    }
    &__item-title {
        @extend %dmsans-700;
        font-size: 16px;
        line-height: 21px;
        color: #1f2044;
        margin-bottom: 25px;
        padding-top: 15px;
        text-transform: uppercase;
    }
    &__list-link {
        display: block;
        color: #7b7b7b;
        @extend %rubik-400;
        font-size: 14px;
        line-height: 32px;
        margin-bottom: 10px;
    }
    &__text {
        color: #7b7b7b;
        @extend %rubik-400;
        font-size: 14px;
        line-height: 24px;
        max-width: 215px;
        margin-bottom: 35px;
    }
    &__form-input {
        background-color: #fef7f0;
        border: none;
        height: 40px;
        min-width: 170px;
    }
    &__form-input::placeholder {
        padding-left: 15px;
        @extend %dmsans-400;
        font-size: 12px;
        color: #234969;
    }
    &__form-btn {
        @extend %dmsans-400;
        font-size: 14px;
        line-height: 21px;
        color: #ffffff;
        border: none;
        background-color: #a3bbc8;
        padding: 11px 28px 10px 16px;
        cursor: pointer;
        height: 40px;
    }
}

.footer-bottom {
    padding: 40px 15px 40px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 32px;
    color: #7b7b7b;
    &__menu{
        display: flex;
    }
    &__menu-item{
        padding: 0 15px;
        display: inline-block;
        
    }

    &__menu-link {
        color: #7b7b7b;

       
    }
    .footer-bottom__menu-item + .footer-bottom__menu-item {
        border: 1px solid #7b7b7b;
    }
}
@import "media";
