@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header {
    padding: 51px 0 55px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.menu {
    &__list {
        display: flex;
    }
    &__list-item + .menu__list-item {
        padding-left: 35px;
    }
    &__list-link {
        color: #436372;
        @extend %rubik-500;
        font-size: 15px;
        line-height: 12px;
    }
}
.user-nav {
    display: flex;
    padding-right: 15px;
    &__item {
        display: flex;
        position: relative;
    }
    &__item-link {
        padding-left: 80px;
    }
    .link__search {
        position: relative;
    }
    .link__search::before {
        position: absolute;
        content: "";
        width: 50px;
        height: 50px;
        background-color: #edf1f4;
        border-radius: 50%;
        top: -16px;
        right: -17px;
        z-index: -1;
    }
    .link__favorits {
        position: relative;
    }
    .link__favorits::before {
        position: absolute;
        content: "";
        width: 90px;
        height: 50px;
        background-color: #fcd7b6;
        border-radius: 50px 0 0 50px;
        top: -16px;
        right: -30px;
        z-index: -1;
    }
    .favorits__number {
        color: #243f4d;
        @extend %dmsans-400;
        font-size: 10px;
        line-height: 18px;
        text-align: center;
        position: absolute;
        top: -10px;
        right: -9px;
        background-color: #ffffff;
        border-radius: 50%;
        width: 16px;
        height: 16px;
    }
    .link__cart {
        position: relative;
        padding-left: 60px;
    }
    .link__cart::before {
        position: absolute;
        content: "";
        width: 90px;
        height: 50px;
        background-color: #fcd7b6;
        border-radius: 0 50px 50px 0;
        top: -16px;
        right: -41px;
        z-index: -1;
    }
    .link__cart::after {
        position: absolute;
        content: "";
        height: 32px;
        width: 1px;
        background-color: #fde7d3;
        top: -7px;
        right: 50px;
    }
    .cart__namber {
        color: #243f4d;
        @extend %dmsans-400;
        font-size: 10px;
        line-height: 18px;
        text-align: center;
        position: absolute;
        top: -10px;
        right: -9px;
        background-color: #ffffff;
        border-radius: 50%;
        width: 16px;
        height: 16px;
    }
    .link__menu {
        position: relative;
    }
    .link__menu::before {
        position: absolute;
        content: "";
        width: 50px;
        height: 50px;
        background-color: #a3bbc8;
        border-radius: 50%;
        top: -16px;
        right: -14px;
        z-index: -1;
    }
}

@import "media";
